<!-- Stage- Bootstrap one page Event ticket booking theme 
Created by pixpalette.com - online design magazine -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" type="image/png" href="/public/favicon/favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="/public/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/public/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/public/favicon/site.webmanifest" />

    <meta name="theme-color" content="#ffffff">
    <title>8 mix</title>
    <script src="/public/js/tailwind.js"></script>
    <link href="/public/css/fontawesome.min.css" rel="stylesheet" />
    <link href="/public/css/solid.min.css" rel="stylesheet" />
</head>

<body class="bg-white dark:bg-gray-900">
    <script src="/public/js/htmx.min.js"></script>
    <script src="/public/js/flowbite.min.js"></script>
</body>

</html>